<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #head {
            border-top: 2px solid rebeccapurple;
            border-bottom: 2px solid rebeccapurple;
        }

        #foot {
            border-bottom: 2px solid rebeccapurple;
        }

        #head .top {
            margin-top: 5px;
        }

        #head .bottom {
            display: none;
            margin: 10px;
            margin-left: 0px;
        }

        table {
            border: 1px solid #ccc;
            border-spacing: 0;
            text-align: center;
        }

        table tr {
            width: 500px;
            height: 30px;
        }
        table tr.bed,
        table tr.sofa,
        table tr.wifi{
            display: none;
        }
        table td {
            width: 200px;
            height: 30px;
        }

        table input {
            width: 15px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id='head'>
            <div class="top">
                <span>是否需要额外付费设施</span>
                <input type="checkbox" name="show" id="show" :checked='checked' @click='isCheck'>
            </div>
            <div class="bottom" :style='style'>
                床(100,0)<input type="checkbox" :checked='bedchecked' @click='bedchec'>
                沙发(200,0)<input type="checkbox" :checked='sofachecked' @click='sofachec'> 
                wifi(200,0)<input type="checkbox" :checked='wifichecked' @click='wifichec'>
            </div>
        </div>
        <div id='foot'>
            <div class="top">订单费用信息</div>
            <div class="body">
                <table border="1">
                    <tr>
                        <td colspan="2"></td>
                        <td>日均价</td>
                        <td>天数</td>
                        <td>总价</td>
                    </tr>
                    <tr>
                        <td colspan="2">群力花园豪华型</td>
                        <td>￥400元</td>
                        <td>
                            <button @click='minus(0)'>-</button>
                            <input type="text" v-model='num[0]'>
                            <button  @click='plus(0)'>+</button>
                        </td>
                        <td>￥{{house}}元</td>
                    </tr>
                    <tr class='bed' :style='{display:bedis}'>
                        <td colspan="2">床</td>
                        <td>￥100元</td>
                        <td>
                                <button @click='minus(1)'>-</button>
                                <input type="text" v-model='num[1]'>
                                <button  @click='plus(1)'>+</button>
                        </td>
                        <td>￥{{bed}}元</td>
                    </tr>
                    <tr class='sofa' :style='{display:sofadis}'>
                        <td colspan="2">沙发</td>
                        <td>￥200元</td>
                        <td>
                                <button @click='minus(2)'>-</button>
                                <input type="text" v-model='num[2]'>
                                <button  @click='plus(2)'>+</button>
                        </td>
                        <td>￥{{sofa}}元</td>
                    </tr>
                    <tr class="wifi" :style='{display:wifidis}'>
                        <td colspan="2">wifi</td>
                        <td>￥300元</td>
                        <td>
                                <button @click='minus(3)'>-</button>
                                <input type="text" v-model='num[3]'>
                                <button  @click='plus(3)'>+</button>
                        </td>
                        <td>￥{{wifi}}元</td>
                    </tr>
                </table>
            </div>
            <div class="charge">
                <span>订单总金额：￥{{money}}元</span>
            </div>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                checked: false,
                bedchecked:false,
                sofachecked:false,
                wifichecked:false,
                num :[2,0,0,0],
                style: {
                    display: 'none',
                },
                bedis:'none',
                sofadis:'none',
                wifidis:'none'

            },
            methods: {

                isCheck: function () {
                    this.checked = !this.checked;
                    if (this.checked == false) {
                        this.style.display = 'none';
                    } else {
                        this.style.display = 'block';
                    }
                },
                bedchec: function () {
                    this.bedchecked = !this.bedchecked;
                    if (this.bedchecked == false) {
                        this.bedis = 'none';
                    } else {
                        this.bedis = 'table-row';
                    }
                },
                sofachec: function () {
                    this.sofachecked = !this.sofachecked;
                    if (this.sofachecked == false) {
                        this.sofadis = 'none';
                    } else {
                        this.sofadis = 'table-row';
                    }
                },
                wifichec: function () {
                    this.wifichecked = !this.wifichecked;
                    if (this.wifichecked == false) {
                        this.wifidis = 'none';
                    } else {
                        this.wifidis = 'table-row';
                    }
                },
                minus:function(index){
                    if(this.num[index] > 0){
                        var arr = this.num.concat();
                        arr[index] = --arr[index];
                        this.num = arr;
                    }
                },
                plus : function(index){
                    var arr = this.num.concat();
                    arr[index] = ++arr[index];
                    this.num = arr;
                }
            },
            computed:{
                money : function(){
                    return this.num[0]*400 + this.num[1]*100 + this.num[2]*200 +this.num[3]*300;
                },
                house : function(){
                    return this.num[0] * 400;
                },
                bed : function(){
                    return this.num[1] * 100;
                }, 
                sofa : function(){
                    return this.num[2] * 200;
                }, 
                wifi : function(){
                    return this.num[3] * 300;
                }
            }
        })
    </script>
</body>

</html>